<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="com.mystore.Listener.ListenerTest"/>
        
    </listeners>


    <test verbose="2" preserve-order="true" name="/Users/saby/IdeaProjects/My Store">

        <classes>
            <class name="com.mystore.testscripts.IndexPageTest">
                <methods>
                    <exclude name="verifyStoreLogo">

                    </exclude>
                    <exclude name="verifyTitle">

                    </exclude>

                </methods>


            </class>

            <class name="com.mystore.testscripts.LoginTest">
                <methods>
                    <include name="verifyLogin"></include>
                    <include name="abc"></include>
                    <include name="skipThisTest"></include>

                </methods>


            </class>


        </classes>


    </test>


</suite>